<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="head">
        <a href="/" class="heading">This is Blog App</a>
        <a href="/post">Write a new post</a>
    </header>
    <div class="main01">
        <% for(i of user)  { %>
            <div class="main">
                <div class="card">
                    <img src="<%= i.url %>" alt="This is img">
                    <h3>This is topic of the post</h3>
                    <p><%= i.content.slice(0,110) %><a href="/<%= i.id  %>">view more</a></p>
                    <div class="cardAuthor">
                        <span>@<%= i.username  %></span>
                        <span><%= i.date  %></span>
                    </div>
                </div>
            </div>  
        <% } %>
    </div>
</body>
</html>