<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post details</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="head">
        <a href="/" class="heading">This is Blog App</a>
        <a href="/post">Write a new post</a>
    </header>
    <div class="postDetails">
        <img src="<%= data.url %>" alt="img">
        <p><%= data.content  %></p>
        <div>
            <span>@<%= data.username  %> &nbsp;&nbsp;</span>
            <span>Date : <%= data.date  %></span>
        </div>
        <form method="post" action="/<%=data.id%>?_method=DELETE">
            <a href="/<%= data.id  %>/edit">Edit post &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</a>
            <button >Delete post</button>
        </form>
    </div>

</body>
</html>