<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/extra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
</head>
<body>
    <div class="main01">
        <%- include('components/nav.ejs')  %>
        <div class="content">
            <div class="conIcons">
                    <div class="con_Icons">
                        <div class="conIconsMain">
                        <% for(j of categoryData) { %>
                                <a  class="categories " href="/c/<%= j._id  %>">
                                    <i class="fa <%= j.icon  %>" aria-hidden="true"></i>
                                    <p><%= j.tagline %></p>
                                    <div class="lineDiv"></div>
                                </a>
                        <% } %>
                    </div>
                    <div class="conIconsFilter">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                        <span>Filter</span>
                    </div>
                </div>
                <div class="conContent">
                    <% for(i of listingData) { %>
                        <div class="main">
                            <div class="card">
                                <a href="/show/<%= i._id  %>">
                                    <img src="<%= i.img  %>" alt="This is img">
                                </a>
                                <div class="card_r1">
                                    <p><%=i.location%></p>
                                    <p><%= i.category  %></p>
                                    <div>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p><%=i.rating %></p>
                                    </div>
                                </div>
                                <p><%= i.elevation  %> m elevation</p>
                                <p><%= i.date %></p>
                                <div class="card_r2">
                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                    <p><%= i.price  %></p>
                                    <p><%= i.d_or_n  %></p>
                                </div>
                            </div>
                        </div>  
                  <%  } %>
                </div>
            </div>
            <%- include('components/footer.ejs')  %>
    </div>
    <script src="js/index.js"></script>
</body>
</html>