<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/extra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
</head>
<body>
    <div class="main01">
        <div class="nav">
            <div class="navTop">
                <span ><img src="/assets/airbnblogo.png"></span>
                <span class="navTopI">
                    <a href="/">Stays</a>
                    <a href="/">Experiences</a>
                    <a href="/">Online Experiences</a>
                </span>
                <span class="navTopBtn flexR">
                    <a href="/">Airbnb your home</a>
                    <i class="fa fa-globe n" aria-hidden="true"></i>
                    <div class="navTopBtnx">
                        <div class="navTopBtnOpt flexR" dropB>
                            <i class="fa fa-bars" aria-hidden="true" dropB></i>
                            <div class="circle" dropB>
                                
                            </div>
                        </div>
                        <div class="navTopBtnOptC" dropB>
                            <a href="/">Messages</a>
                            <a href="/">Trips</a>
                            <a href="/">Wishlists</a>
                            <div class="sLine"></div>
                            <a href="/">Airbnb your home</a>
                            <a href="/">Account</a>
                            <div class="sLine"></div>
                            <a href="/">Help center</a>
                            <a href="/">Log out</a>
                        </div>
                    </div>
                </span>
            </div>
            <div class="navBottom">
                
            </div>
            <div class="lineDiv"></div>
        </div>
        <div class="content">
            <div class="conIcons">
                <div class="con_Icons">
                    <div class="conIconsMain">
                    <% for(j of data1) { %>
                            <a  class="categories " href="/c/<%= j._id  %>">
                                <i class="fa <%= j.icon  %>" aria-hidden="true"></i>
                                <p><%= j.tagline %></p>
                                <div class="lineDiv"></div>
                            </a>
                    <% } %>
                </div>
                    <div class="conIconsFilter">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                        <span>Filter</span>
                    </div>
                </div>
                <div class="conContent">
                    <% for(i of data) { %>
                        <div class="main">
                            <div class="card">
                                <img src="<%= i.img  %>" alt="This is img">
                                <div class="card_r1">
                                    <p><%=i.location%></p>
                                    <div>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p><%=i.rating %></p>
                                    </div>
                                </div>
                                <p><%= i.elevation  %> m elevation</p>
                                <p><%= i.date %></p>
                                <div class="card_r2">
                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                    <p><%= i.price  %></p>
                                    <p><%= i.d_or_n  %></p>
                                </div>
                            </div>
                        </div>  
                  <%  } %>
                </div>
            </div>
        <div class="footer">
            <p>© 2024 Airbnb</p>
            <p>Support & resources</p>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>